<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BudsBondingViewer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
		<BudsBondingViewer.Properties.Settings>
      <setting name="BasePath" serializeAs="String">
          <value>D:\BudsBondingViewer</value>
      </setting>
      <setting name="LightComport" serializeAs="String">
          <value>COM5</value>
      </setting>
      <setting name="LightBaudrate" serializeAs="String">
          <value>19200</value>
      </setting>
      <setting name="LightValue" serializeAs="String">
          <value>255</value>
      </setting>
      <setting name="LightDelay" serializeAs="String">
          <value>300</value>
      </setting>
  </BudsBondingViewer.Properties.Settings>
    </userSettings>
</configuration>